<div>

  <div class="head">
    <%= button_to 'New messages',new_message_path, method: :get, action: "new"%>
    <h1> Message Board </h1>
  </div>

  <div class="body">
    <ul>
      <% @messages.each do |message|%>
        <li>
          <%= link_to message.title, message_path(message.id)%>
          <%= message.content%>
        </li>

      <% end %>
    </ul>
  </div>

</div>
