<div class="px-28 py-10 h-full min-w-0 overflow-x-hidden max-h-screen relative">
  <div class="main-container">
    <div class="m-auto w-full">
      <h1 class="text-5xl mb-3 font-semibold text-gray-700">Message Board</h1>
      <div class="font-medium text-gray-400 py-4">
        <p>Post announcements, pitch ideas, progress updates, etc. and keep feedback on-topic.</p>
      </div>
      <div class="flex justify-end pb-2">
         <%= link_to "NEW", new_project_message_path(@project) , class:"theme-fill-btn"%>
      </div>
    </div>
    <div class="p-4 m-auto mb-4 border-t border-gray-300">
    </div>
  </div>
  <div class="container p-6 m-auto">
    <div class="relative grid grid-flow-row grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 ">
    <% @messages.each do |message| %>
      <%= link_to project_message_path(@project ,  message), class: 'mb-card text-left' do  %>
        <div class="block text-left p-4 leading-normal">
          <div class="pt-6"></div>
          <h5 class="w-full mb-2 text-2xl text-left font-bold tracking-tight text-gray-900 dark:text-white"><%= message.title%></h5>
          <p class="w-full mb-3 font-normal text-gray-700 dark:text-gray-400"><%= markdown(message.content) %></p>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>



