<article class="relative py-16 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1 class="h1">
        <span><%=@message.title%></span>
      </h1>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
      <p class="p"><%=@message.content%></p>
    </div>
  </div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <button class="button"><%=link_to "編輯", edit_project_message_path(@project, @message)%></button>
    <button class="button"><%=link_to "刪除", project_message_path(@project ,@message), method: "delete",data: { confirm: "確定刪除?"}%></button>
  </div>
</article>
