<div class="block w-full rounded-lg" data-controller="chat-room-channel" data-id="<%= @project.chat_room.id %>" > 
  <section class="h-full mt-2 min-h-screen overflow-auto " data-chat-room-channel-target="contentbox" >
      <div id="content">
          <% @contents.each do |content|%>
            <%= render "chat_message" , content: %>
          <% end %>
      </div>
  </section>
</div>
