<div class="flex flex-col-reverse overflow-y-auto  flex-grow max-h-full rounded-lg h-full" data-controller="chat-room-channel" data-private-id="<%= @private_chat&.id  %>"> 
  <div id="content" class="" data-chat-room-channel-target="contentbox">
    <% @contents.each do |content|%>
      <%= render "private_chats/content" , content: %>
    <% end %>
  </div>
</div>
<div class="pt-2">
  <%= render 'form' %>
</div>
