<div class="px-4 pb-3 my-2 pt-8 w-full border-t border-gray-300 flex justify-start items-start relative">
  <div class="h-10 w-10 rounded-full overflow-hidden">
      <%= image_tag(comment.user.avatar_url || comment.user.imageurl || "default_user", size:'20x20' , class:'w-full h-full') %>
  </div>
  <div class='pl-4 py-2 w-4/5'>
    <div class="text-xl font-semibold">
      <%= comment.user.nickname %>
    </div>
    <div class="text-xl py-2">
      <%= markdown(comment.content) %> 
    </div>
  </div>
  <% if comment.user = current_user %>
    <div data-controller="dropdown" >
      <%= link_to project_message_comment_path(@project, @message, comment.id), method: 'delete',data:{confirm: "Are you sure?"} do %>
        <i class="fas fa-times"></i>
      <% end %>
    </div>
  <% end %>
</div>
