<<<<<<< HEAD
      <% commentable.comments.each do |comment| %>
        <div><%= comment.content %></div>
      <% end %>

=======
  <% commentable.comments.each do |comment| %>
    <div><%= comment.content %></div>
  <% end %>
>>>>>>> 22399e4 (add polymorphic comments in message_board)
