<%= form_with(model:comment , url:project_message_comments_path(@project , @message) ,data:{remote: true ,comment_target:"form"} ,class:"hidden" ) do |form| %>
  <div class="p-2 border-2 rounded-md border-theme-100">
    <%= form.text_area :content, class: 'border-white h-48 m-2 hove:bg-theme-100' , data:{controller:"markdown-editor"}%>
  </div>
  <div class="float-right py-4">
    <%= form.submit 'comment', class: 'theme-fill-btn' , data:{action:"click->comment#submit"}%>
  </div>
<% end %>
