<%= form_for([commentable, Comment.new] , url:project_message_comments_path(@project , @message)) do |form| %>
  <div>
    <%= form.rich_text_area :content %>
  </div>
  <div>
    <%= form.submit class:"button"%>
  </div>
<% end %>