<div class="flex flex-col w-2/3 card">
  <div class="flex flex-row justify-between">
      <span class="text-4xl text-indigo-800">Todo Lists</span>
      <%= link_to '新增Todo', new_project_todo_list_path, class:"bg-yellow-400 items-center pt-2 px-4 rounded-md font-semibold" %>
  </div>

  <div class="flex justify-center">
    <% @todo_lists.each do |todo_list| %>
      <div class="block max-w-sm p-6 mr-2 bg-white rounded-lg shadow-lg">
        <h5 class="mb-2 text-xl font-medium leading-tight text-gray-900">
          <li class="list-none list-group-item ">
            <td><%= link_to todo_list.title, project_todo_list_path(@project ,todo_list) %></td>
            <% todo_list.todo_items.each do |todo_item| %>
              <div class="card">
                  <%= todo_item.description %>
              </div>
            <% end %>
          </li>
        </h5>
      </div>
    <% end %>
  </div>
</div>



