<div class="px-28 py-10 h-screen min-w-0 overflow-x-hidden max-h-screen">
  <div class="mx-auto">


    <%= render @schedule %>

    <%= link_to '修改行程', edit_project_schedule_path(@project), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= link_to '刪除行程', project_schedule_path(@project), method: 'delete', class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to '回到行事曆', project_schedules_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
