<nav class="z-50 flex justify-between w-full h-16 p-4 md:px-8">
    <div class="flex items-center ">
      <%= link_to root_path do %>
        <%= image_tag("turbocamp_a" , class:"h-12") %>
      <% end %>
    </div>
    <div class="flex items-center flex-nowrap  ">
      <%= link_to 'Sign in' , new_user_session_path , class:"theme-outline-btn text-xs md:text-base mr-4 font-medium"%>
      <%= link_to 'Get Start' , new_user_registration_path ,class:"theme-fill-btn text-xs md:text-base font-medium" %>
    </div>
</nav>



