<nav class="z-50 flex justify-between w-full h-16">
    <div class="flex items-center ml-7">
        <%= image_tag("turbocamp_a" , class:"h-12 ") %>
    </div>
    <div class="flex items-center flex-nowrap">
        <%= link_to 'Sign in' , new_user_session_path , class:"text-ml bg-transparent hover:bg-theme-150 text-theme-150 font-semibold hover:text-white py-2 px-4 border border-theme-150 hover:border-transparent rounded mr-4"%>
        <%= link_to 'Get Start' , new_user_registration_path ,class:"text-ml mr-8 bg-theme-150 hover:bg-theme-200 text-white font-bold py-2 px-4 border border-theme-150 rounded"%>
    </div>
</nav>



