  <div class="">
    <%# feature_section_start %>
    <div class="relative mx-auto bg-gradient-to-r from-home_gray-100 to-gray-300">
      <div class="relative max-w-xl px-4 py-12 mx-auto lg:max-w-7xl ">
      <div class="relative flex px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
        <div class="container ">
          <div class="w-4/5 row">
              <h1 class="text-4xl font-extrabold tracking-tight text-center sm:text-5xl lg:text-6xl">
                <span class="block pb-10 text-gray-900">TurboCamp</span>
                <span class="block text-gray-300">一站式專案管理系統</span>
              </h1>
              <p class="max-w-lg mx-auto mt-6 text-xl text-center text-sky-600 sm:max-w-3xl">結合專案管理中常用的工具。待辦清單、行事曆、即時訊息溝通、最新訊息佈達、共享檔案與文件，可以邀請團隊成員加入TurboCamp，從深山到家庭辦公室，一起有效率的管理專案進度。</p>
              <div class="max-w-sm mx-auto mt-10">
                <%= link_to 'Get Start' , new_user_registration_path ,class:"flex items-center justify-center px-4 py-3 text-base font-medium text-indigo-700 bg-white border border-transparent rounded-md shadow-sm hover:bg-indigo-50 sm:px-8"%>
              </div>
            </div>
          </div>
          <div class="w-3/4 row">
            <div class="mt-10" aria-hidden="true">
                <%= image_tag("turbocamp001" , class:" mx-auto", width:"600") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  






