  <div class="h-screen">
    <%# feature_section_start %>
    <div class="mx-auto bg-gradient-to-r from-home_gray-100 to-gray-300">
      <div class="max-w-xl mx-auto lg:max-w-7xl ">
        <div class="flex py-8 px-12 sm:px-10 sm:py-24 lg:py-32 lg:px-8">
          <div class="flex flex-wrap-reverse lg:flex-wrap justify-center m-auto">
            <div class="w-full lg:w-1/2 lg:p-8">
              <h1 class="text-4xl font-extrabold tracking-tight text-center sm:text-5xl lg:text-6xl">
                <span class="block pb-10 text-gray-900">Turbocamp</span>
                <span class="block text-gray-900">一站式專案管理系統</span>
              </h1>
              <p class="max-w-lg mx-auto mt-6 text-xl text-center text-sky-600 sm:max-w-3xl">結合專案管理中常用的工具。待辦清單、行事曆、即時訊息溝通、最新訊息布答、共享檔案與文件，可以邀請團隊成員加入Turbocamp，一起有效率的管理專案進度。</p>
              <div class="max-w-sm mx-auto mt-10">
                <%= link_to 'Get Start' , new_user_registration_path ,class:"flex items-center justify-center px-4 py-3 text-base font-medium  bg-theme-150 text-gray-900 border rounded-md shadow-sm hover:bg-theme-200 sm:px-8"%>
              </div>
            </div>
            <div class="w-full lg:w-1/2">
              <div class="pt-6 pb-10 lg:p-4 " aria-hidden="true">
                <%= image_tag("turbocamp001" , class:" mx-auto", width:"600") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# footer_start %>
    <footer class="bg-gray-50 px-4 ">
      <div class="p-8 mx-auto">
        <div class="flex flex-col ">
          <div class="py-2">
            <%= image_tag("turbocamp_a", width:"180" ) %>
          </div>
          <div class="flex justify-end">
            <div class="w-full md:w-1/2 lg:w-1/3 grid grid-cols-2 py-4 px-2 md:grid-cols-3 md:gap-4">
              <div class="pb-8">
                <h3 class="text-sm font-bold tracking-wider text-gray-900 uppercase">Company</h3>
                <ul role="list" class="mt-4 space-y-4">
                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900"> About </a>
                  </li>
                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Blog </a>
                  </li>
                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Contact </a>
                  </li>
                </ul>
              </div>
              <div class="pb-8">
                <h3 class="text-sm font-bold tracking-wider text-gray-900 uppercase"> Product </h3>
                <ul role="list" class="mt-4 space-y-4">
                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Features </a>
                  </li>
                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Demo </a>
                  </li>
                </ul>
              </div>
              <div class="pb-8">
                <h3 class="text-sm font-bold tracking-wider text-gray-900 uppercase">Legal</h3>
                <ul role="list" class="mt-4 space-y-4">
                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Claim </a>
                  </li>
                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Privacy </a>
                  </li>
                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Terms </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="border-gray-400 border-t h-4 mt-4">
        </div>
        <div class="py-md:flex md:items-center md:justify-between">
          <div class="w-full py-2 flex items-center justify-between">
            <div>
              <p class="w-5/6 md:w-full text-xs text-gray-400 md:mt-0 md:order-1">&copy; Turbocamp, Inc. 2022. We love our user!</p>
            </div>
            <div>
              <a href="https://github.com/TurboCamp/TurboCamp" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">GitHub</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <%# footer_end %>
  </div>
