<nav class="flex justify-between fixed border-gray-200 drop-shadow-sm border-b-2 h-17 p-4 w-full">
    <div class="flex items-center ml-7">
      <h2 class="font-semibold text-2xl">Luanchboard</h2>
    </div>
    <div class="items-center flex flex-nowrap">
      <%= link_with_icon(destroy_user_session_path, :delete, icons('power-off', :fas, 'lg', 'mr-4')) %>
    </div>
</nav>


