<nav class="flex justify-between items-center bg-theme-5 border-gray-200 filter drop-shadow-sm border-b h-13 px-2 w-full">
  <div class="flex items-center ml-7 py-2.5">
    <%= image_tag 'turbocamp_a', class: 'h-12' %>
  </div>
  <div class="items-center flex flex-nowrap h-7">
    <%= link_to icon_tag('fa-arrow-right-from-bracket fa-solid fa-lg pr-4 text-gray-600'), destroy_user_session_path, method: :delete %>
  </div>
</nav>


