<nav class="flex justify-between items-center border-gray-300 filter drop-shadow-md border-b h-13 p-2 w-full">
  <div class="flex items-center ml-7">
    <%= image_tag 'turbocamp_a', class: 'h-9' %>
  </div>
  <div class="items-center flex flex-nowrap h-7">
    <%= link_to icons('sign-out-alt', :fas, 'lg', 'pr-4'), destroy_user_session_path, method: :delete %>
  </div>
</nav>


