<nav class="flex justify-between border-gray-200 filter drop-shadow-sm border-b-2 h-17 p-4 my-1 w-full">
    <div class="flex items-center ml-7">
      <h2 class="font-semibold text-2xl">Luanchboard</h2>
    </div>
    <div class="items-center flex flex-nowrap h-7">
      <%= link_with_icon(destroy_user_session_path, :delete, icons('sign-out-alt', :fas, 'lg', 'mr-4')) %>
    </div>
</nav>


