<nav class="flex justify-between w-full p-4 my-1 border-b-2 border-gray-200 filter drop-shadow-sm h-17 ">
    <div class="flex items-center ml-7">
      <h2 class="text-2xl font-semibold">Luanchboard</h2>
    </div>
    <div class="items-center flex flex-nowrap h-7">
      <%= link_to icons('sign-out-alt', :fas, 'lg', 'pl-1'), destroy_user_session_path, method: :delete %>
    </div>
</nav>


