<nav class="bg-white border-gray-200 drop-shadow-sm border-b-2 w-full h-17 absolute px-2 py-3 rounded ">
  <div class="container flex flex-wrap justify-around items-center mx-auto ">
    <a href="#!" class="flex items-center absolute left-5">
        <span class="self-center text-xl font-semibold whitespace-nowrap">Projectname</span>
    </a>
    <div class='flex'>
      <%= link_with_icon(destroy_user_session_path, :delete, icons('power-off', :fas, 'x', 'pr-5')) %>
      <%= link_with_icon(destroy_user_session_path, :delete, icons('power-off', :fas, 'x', 'pr-5')) %>
      <%= link_with_icon(destroy_user_session_path, :delete, icons('power-off', :fas, 'x', 'pr-5')) %>
    </div>
  </div>
</nav>

