<article class="relative py-16 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h2 class="h2">
        <%=@project.title%>的檔案夾
      </h2>
      <div>
        <%= render 'form' %>
      </div>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
    <div class="flex gap-3">
      <% @documents.each do |doc| %>
          <%if doc.document.mime_type.include? 'image' %>
            <%= image_tag(doc.document_url , size:'150x150' )%>
            <a href="<%=doc.document.download_url%>" download="">
              <i class="fas fa-cloud-download-alt"></i>
            </a>
          <% end %>  
      <% end %>
    </div>
      
    </div>
  </div>


</article>