
.tui-full-calendar-month-week-item{
    height: 100px !important;
    
}

.tui-full-calendar-weekday-grid-date-decorator{
    background: #fa0 !important;
}
.field_with_errors{
    display: flex;
    input[type="text"],[type="number"] {
        border: 2px #f00 solid;
    }
    label{
        color: #f00;
    }
}