<nav class="z-50 flex justify-between w-full h-16">
    <div class="flex items-center ml-7">
      <%= link_to root_path do %>
      <%= image_tag("turbocamp_a" , class:"h-12 ") %>
      <% end %>
    </div>
</nav>



