<nav class="z-50 flex justify-between w-full h-16 p-4 md:px-8">
  <div class="flex items-center">
    <%= link_to root_path do %>
    <%= image_tag("turbocamp_a" , class:"h-12 ") %>
    <% end %>
  </div>
</nav>



