<%= turbo_frame_tag 'modal' do %>
<div data-controller="modal" class="bg-theme-0 bg-opacity-60 overflow-y-auto overflow-x-hidden animated fadeIn fixed inset-0 flex items-center justify-center z-50 w-full md:inset-0 md:h-full">
  <div class="relative p-4 max-h-screen w-full max-w-lg h-full md:h-auto">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600">
        <h3 class="text-xl font-medium text-gray-900 dark:text-white">
          Accouont 
        </h3>
        <div>
        <%= button_tag icons('times', :fas, 'lg', 'pr-3 text-gray-500 hover:text-theme-200'), data: { action: "modal#close" }, type: "button" %>
        </div>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
<% end %>

