<nav class="bg-theme-5 border-theme-100 filter drop-shadow-sm border-b w-full h-15 p-1 z-20">
  <div class="flex flex-row justify-end items-center h-7 my-4">
    <div class="flex flex-row items-center">
      <%= link_to icons('house-user', :fas, 'lg', 'pr-5 hover:text-gray-500'), project_path(@project) if @project%>
      <%= link_to icons('th', :fas, 'lg', 'pr-5 hover:text-gray-500'), personal_path %>
      <%= link_to icons('sign-out-alt', :fas, 'lg', 'pr-5 hover:text-gray-500'), destroy_user_session_path, method: :delete %>
    </div>
  </div>
</nav>

