<nav class="bg-theme-5 border-theme-100 filter drop-shadow-sm border-b w-full h-15 p-1 z-20">
  <div class="flex flex-row justify-end items-center h-7 my-4">
    <div class="flex flex-row items-center">
      <%= link_to icon_tag('fa-house-user fa-solid fa-lg pr-5 text-gray-600'), project_path(@project) if @project %>
      <%= link_to icon_tag('fa-border-all fa-solid fa-lg pr-5 text-gray-600'), personal_path %>
      <%= link_to icon_tag('fa-arrow-right-from-bracket fa-solid fa-lg pr-5 text-gray-600'), destroy_user_session_path, method: :delete %>
    </div>
  </div>
</nav>

